<h3 style="font-weight: 400; padding-bottom: 15px; " class="text-center heading">What I love to do <i class="fa fa-heart" style="color:#ce2020" aria-hidden="true"></i></h3>
<div class="row" style="padding-left: 10%">
  <div class="col-md-12 align-center">
    <div class="col-md-4" >
      <div class="">
        <i style="margin-top: -8px;" class="fa fa-laptop fa-4x -align-center" aria-hidden="true"></i>
      </div>
      <div class="text">
        <h3 class="text_heading">Coding</h3>
        <p>JavaScripter, ng-developer(Angular), Passionate to code and learn new technologies, techie. I pick up new skills quickly, and believe in using which tool is better for my job. Currently I am building JavaScript libraries and Gems.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="">
        <img src="assets/images/download.png">
      </div>
      <div class="text">
        <h3 class="text_heading">Web Development</h3>
        <p>I use to build Web Applications from small scale to large enterprise level. I usually prefer to develop applications using MEAN Stack(Angular JS, Node js, Express), Java web applications, Ruby on Rails, HTML, CSS 3, JQuery. </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="">
        <img src="assets/images/download1.png">
      </div>
      <div class="text">
        <h3 class="text_heading">Software Engineer</h3>
        <p>Solving real world problems by building edge cutting software systems, Strong in Data Structure and Algorithms. Involved in tech communities like GitHub and learning Cloud Computing technologies. I am proficient in JavaScript and Java.
        </p>
      </div>
    </div>
  </div>
  <!--   <div class="col-md-3 col-md-offset-5 col-xs-offset-3">
<a class="button" style="background-color: black;" href="#work">Click here - My Works</a>
</div> -->
</div>

